<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="appStyle.css">
    <script src="app.js" defer></script>
    <title>Space Invaders</title>
</head>
<body>
    <a href="/">Back</a>
    <h1>Beat the game!</h1>
    <h2 class="results">0</h2>
    <div class="grid"></div>
    <input type="hidden" id="personsData" value="<%= JSON.stringify(persons) %>">
    <p>Gebruik de pijltjes op je keyboard om te schieten en te bewegen!</p>
</body>
</html>