<%- include('./partials/head') %>

<h2>Squad D</h2>

<form>

</form>

<ul>
  <% persons.forEach(person => { %>
    <li>
      <% person.avatar %>
      <a href="./person/<%= person.id %>"><%= person.name %></a>
    </li> <% }) %>
</ul>

<%- include('./partials/foot') %>