@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Faster+One&family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #1C2C54;
}

/* ----------- Header ----------- */

header {
    margin-bottom: 3rem;
    text-align:  center;
    color: white;
    word-wrap: break-word;
    /* background: linear-gradient(184deg, #1C2C54 0%, rgba(0,0,0,1) 100%); */
}


h1 {
    font-family: "Silkscreen", sans-serif;
    font-size: 2.5rem;
    text-shadow: cyan -1px -2px,
    #ff3b90 2px -2px,
    yellow 1px 1px,
    white 0px 2px;
}

h2 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    text-shadow: black -2px 3px;
}

label {
    /* margin-right: 1rem; */
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    text-shadow: black -1px 2px;
}

select {
    border-radius: 5px;
}

.sort-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.sort {
    /* margin-right: 3rem; */
    margin-bottom: 1rem;
}

/* ----------- List container ----------- */

.container-wrapper {
    position: relative;
}

.container-overlay {
	background-image:linear-gradient(#1C2C54, transparent);
	height:8em;
	position:sticky;
	top:0;
	z-index:10;
}

.column-container {
    display: grid;
    /* display: flex;
    flex-wrap: wrap;*/
    justify-content: center; 
    /* grid-template-columns: repeat(auto-fit, minmax(16em, 1fr)); */
    grid-template-columns: max-content;
    grid-gap: 3rem;
    /* margin-top: -8em; */
    margin: -8rem 2rem 2rem 2rem;
    position: relative;
    /* overflow: hidden; */
}

.column {
    display: grid;
    grid-gap: 3rem;
    /* padding-bottom: 10vh; */
}

/* ----------- Card styling ----------- */

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #c1e3dd;
    height: 25rem;
    min-width: 16rem;
    max-width: 20rem;
    border-radius: 1rem;
    transition: 0.1s ease-in-out;
}

.person-avatar {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.name {
    font-family: "VT323", monospace;
    font-size: 2rem;
    text-shadow: cyan -1px -2px,
    #ff3b90 2px -2px,
    yellow 1px 1px,
    white 0px 2px;
}

.nickname {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* ----------- Hovers ----------- */

li:hover {
    transform: scale(105%);
    animation: glitch 0.3s infinite;
}

/* ----------- Keyframe animations ----------- */

@keyframes adjust-position {
0% {
    transform: translateY(calc(-100% + 100vh));
}
100% {
    transform: translateY(calc(100% - 100vh));
}
}

@keyframes glitch {
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-1px, 1px)
    }
    40% {
        transform: translate(-1px, -1px)
    }
    60% {
        transform: translate(1px, 1px)
    }
    80% {
        transform: translate(1px, -1px)
    }
    to {
        transform: translate(0)
    }
}   

/* ----------- Media queries ----------- */

@media (min-width: 540px){
    h1 {
        font-family: "Silkscreen", sans-serif;
        font-size: 4rem;
        text-shadow: cyan -2px -3px,
        #ff3b90 3px -3px,
        yellow 2px 3px,
        black 0px 7px;
    }
}

@media (min-width: 900px) {

    label {
        margin-right: 1rem;
    }
    
    .sort-container {
        flex-direction: row;
        margin-bottom: 3rem;
        align-items: baseline;
    }
    
    .sort {
        margin-right: 3rem;
    }

    li {
        height: 25rem;
        width: auto;
    }

    .column-container {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-gap: 3rem;
        margin: 0;
        margin-top: -8em;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .column {
        display: grid;
        grid-row-start:1;
        width:min(25vw, 20em);
        padding: 10vh 0;
    }

    .column-reverse {
        margin-top: -13rem;
    }

    ul:nth-of-type(1) {
        justify-self:end;
        grid-column-start:1;
    }

    ul:nth-of-type(2)  {
        grid-column-start:2;
    }

    ul:nth-of-type(3) {
        grid-column-start:3;
    }

    @supports (animation-timeline: scroll()) {
        .columns {
            overflow-y: hidden;
        }
    }
        
    @supports (animation-timeline: scroll()) {
    .column-reverse {
        animation: adjust-position linear forwards;
        animation-timeline: scroll(root block);
        }
    }
        
    @supports (animation-timeline: scroll()) {
    .column-reverse {
        flex-direction: column-reverse;
        }
    }
}